{# {% extends "base.html.twig" %} #}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/header.css') }}">
{% endblock %}

<nav>
    <ul class="desktop">
        <li><a href="{{ path('main') }}">Accueil</a></li>
        <li><a href="{{ path('app_search') }}">Recherches</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
    <span id="icon-menu"><i class="fa-solid fa-bars"></i></span>
    <ul class="mobile">
        <li><a href="{{ path('main') }}">Accueil</a></li>
        <li><a href="{{ path('app_search') }}">Recherches</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</nav>